.profile-container {
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
