:root {
  --color-background: #fff;
  --color-primary: #f86b4d;
  --color-primary-dark: #df5132;
  --color-title-in-primary: #ffffff;
  --color-title-in-primary-dark: #8092ef;
  --color-title-in-primary-light: #eef2fd;
  --color-text-title: #404549;
  --color-text-base: #7c7f82;
  --color-input-background: #f8f8fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem 'Roboto';
}

.container {
  width: 90vw;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
