.list-container {
  max-height: 350px;
  height: 100%;
  overflow-y: auto;
  margin-top: 3rem;
}

.list-container ul {
  list-style: none;
}

.list-container ul li {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list-container ul li:last-child {
  border-bottom: none;
}

.list-container ul li span.delete-note {
  font-size: 2rem;
  color: var(--color-text-title);
  margin-right: 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.list-container ul li span.delete-note:hover {
  color: var(--color-primary-dark);
}

.notes-info h2.title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--color-text-title);
  transition: color 0.2s;
  cursor: pointer;
}

.notes-info h2.title:hover {
  color: var(--color-title-in-primary-dark);
}

.notes-info h2.title.active {
  color: var(--color-title-in-primary-dark);
}

.notes-info span {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-text-base);
}

.list-container .notes-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-title-in-primary-dark);
}

.list-container .notes-pagination span {
  font-size: 2.5rem;
  cursor: pointer;
}
